<mat-form-field appearance="fill">
    <form [formGroup]="form">
        <mat-select formControlName="languageSelected">
            <mat-option (click)="setLanguage(language)" *ngFor="let language of languages" [value]="language.code">
                {{language.name}}
            </mat-option>
        </mat-select>
    </form>
</mat-form-field>

<mat-selection-list [multiple]="false">
    <div mat-subheader>Components</div>
    <mat-list-item>
        <div mat-line>{{'_AMENITIES' | translate}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-selection-list>