.mat-list-base .mat-subheader:first-child {
    color: black;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
    color: black;
    cursor: pointer;
}

